@media screen and (min-width: 320px) and (orientation:portrait) {
  @-ms-viewport       { width: 320px!important; height:device-heigth!important; }
}

html
{
font-family: Helvetica, Calibri, Arial, sans-serif;
}

body
{
margin: 0px;
}

table
{
	width: 50%;
	border-collapse:separate;
	margin: 0 auto;
}

th,table:not(#mainpage),table:not(#stats),table:not(#help),table:not(#ind)
{
	border-spacing: 0px 15px;
}
table#ind
{
	border-spacing: 0px 25px;
	display: inline;
	width:0%;
	margin:0 auto;
}
table#help
{
	width: 90%;
	border-collapse:separate;
	margin: 0 auto;
	border-spacing: 15px 15px;
	padding-top: 20px;
}

table#mainpage
{
	border-spacing: 0px 25px;
	width: 100%;
}

table#stats
{
	border-spacing: 15px 15px;
}

table#region
{
	width:75%;
}

th
{
	border-top-color: #FF7A00;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
th#help
{
	border: 1px solid #FF7A00;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding:5px;
}
tr td:first-child{
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;

}

tr td:last-child{
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
	padding-right: 5px;
}

tr th:first-child
{
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
	
	border-top-color: #FF7A00;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #FF7A00;
	border-left-style: solid;
	border-left-width: 1px;
}

tr th:last-child
{
	-moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
	
	border-top-color: #FF7A00;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: #FF7A00;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
	border-bottom-width: 1px;

}


td,th
{
	text-align:center;
}

td#stat
{
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-color: #FF7A00;
	border-style: solid;
	border-width: 1px;
	background-color: #FFF;
	border-spacing: 0px 15px;
}

td#val
{
	border-radius: 5 5 5 5;
	border-spacing: 15px 15px;
}

tr#region
{
	border-radius: 5 5 5 5;
	border-collapse:separate;
}

tr#region:nth-child(odd), tr#val:nth-child(odd)
{
	background-color: #FF7A00;
}

tr#region:nth-child(even), tr#val:nth-child(even)
{
	background-color: #F73B3B;
}

tr:not(#region),tr:not(#regions),tr:not(#val)
{
	background-color: #FFF;
	border: 1px solid #FF7A00;
} /*
tr#regions:nth-child(odd):hover
{
	background-color:#1D36F0;
} */
tr#regions:hover
{
	background-color:#FF7A00;
}
tr#regions{
	background-color:#ACACAC;
}

tr#help:nth-child(even) td
{
	border-color:#F82121;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	padding:5px;
}
tr#help:nth-child(odd) td
{
	border-color:#1D36F0;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	padding:5px;
}
tr#help td:last-child
{
font-family:monospace;
}

a:link, a:visited
{
-webkit-border-radius: 5px;
background-color:#CECECE;
text-decoration:none;
color: #000;
margin: 0 auto;

padding: 10px;
}

a:hover, a:active
{
-webkit-border-radius: 5px;
background-color:#000;
text-decoration:none;
margin: 0 auto;
color: #FFF;
}

a#nav:link, a#nav:visited
{
-webkit-transition:border .5s ease;
-moz-transition:border .5s ease;
transition:border .5s ease;
background-color:transparent;
text-decoration:none;
color: #FFF;
margin: 0 auto;
float: left;
height: 145px;
width: 570px;
font-size: 36;
font-weight: 600;
padding:0;
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
}

a#nav:hover, a#nav:active
{
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
border-bottom:#FF7A00 5px solid;
background-color:transparent;
text-decoration:none;
margin: 0 auto;
color: #FFF;
float: left;
height: 145px;
width: 570px;
font-size: 36;
font-weight: 600;
padding:0;
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
}

a#nav_txt:link, a#nav_txt:visited
{

-webkit-transition:border .5s ease;
-moz-transition:border .5s ease;
transition:border .5s ease;
position:relative;
background-color: transparent;
text-decoration:none;
color: #777;
margin: 0 auto;
float: right;
font-size: 96;
padding:14.5;
height: 116px;
-webkit-border-radius:0px;
-moz-border-radius:0px;
-ms-border-radius:0px;
border-radius:0px;
}

a#nav_txt:hover, a#nav_txt:active
{
background-color: #474747;
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
border-bottom:#FF7A00 5px solid;
text-decoration:none;
margin: 0 auto;
color: #FFF;
float: right;
font-size: 96;
padding:14.5;
height: 116px;

}

a#official:link, a#official:visited
{
background-color:#1a1a1a;
text-decoration:none;
color: #FFF;
margin: 0 auto;
float: left;
font-size: 36;
font-weight: 600;
padding:10;
height:40px;
width:40px;
}

a#official:hover, a#official:active
{
background-color:#434343;
text-decoration:none;
margin: 0 auto;
color: #FFF;
float: left;
font-size: 36;
font-weight: 600;
padding:10;
height:40px;
width:40px;
}
a#nav_txt
{
	transition: color .5s ease;
	transition: background-color .5s ease;
	-ms-transition: color .5s ease;
	-ms-transition: background-color .5s ease;
	-moz-transition: color .5s ease;
	-moz-transition: background-color .5s ease;
	-webkit-transition: color .5s ease;
	-webkit-transition: background-color .5s ease;
}
a#fade, a#reg, a#adm
{
transition: color .5s ease;
transition: background-color .5s ease;
}
a#reg
{
margin-right: 20;
margin-left: 20;
}

a#sub{
	padding: 10;
	font-size:14;
	margin-top:5px;
}

a#adm
{
	padding-top:10;
	margin-left:10;
	position:absolute;
	-webkit-border-top-right-radius:0;
	-webkit-border-top-left-radius:0;
	-moz-border-topright-radius:0;
	-moz-border-topleft-radius:0;
	border-top-right-radius:0;
	border-top-left-radius:0;
}

a.db:link, a.db:visited
{
-webkit-border-radius: 0px;
background-color:#FF7A00;
text-decoration:none;
color: #FFF;
margin: 0 auto;
padding: 6px;
position:relative;
}
a.db:hover, a.db:active
{
-webkit-border-radius: 0px;
background-color:#FF3D00;
text-decoration:none;
margin: 0 auto;
color: #FFF;
position:relative;
}
a#standard:link
{
color:#FF7A00;
background-color: transparent;
padding: 0;
text-decoration: underline;
font-size:14;
}
a#standard:visited
{
color:#FFCC00;
background-color: transparent;
padding: 0;
text-decoration: underline;
font-size:14;
}
a#standard:hover, a#standard:active
{
color:#F14D00;
background-color: transparent;
padding: 0;
text-decoration: underline;
font-size:14;
}
a#fstd:link,a#fstd:visited
{
color:#757575;
background-color: transparent;
padding: 0;
text-decoration: underline;
font-size:14;
}

a#fstd:hover, a#fstd:active
{
color:#949494;
background-color: transparent;
padding: 0;
text-decoration: underline;
font-size:14;
}


ul
{
    list-style-type: none;
	padding:5;
}
li
{
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	background-color: #000;
	list-style-type: none;
}
li#li_official, li#li_unofficial, li#li_top
{
	background-color: #000;
	list-style-type: none;
	width:80%;
	margin: 0 auto;
	height:50px;
	font-size:36px;
}

button#official, button#unofficial, button#top
{
	transition: background-color .5s ease;
	background-color: #000;
	color: #FFF;
	height:50px;
	width:50px;
	font-size:36px;
	border: transparent;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
}
button#official:hover, button#unofficial:hover, button#top:hover
{
	background-color: #313131;
	color: #FFF;
	height:50px;
	width:50px;
	font-size:36px;
	border: transparent;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
}
button:focus
{
	outline: 0;
}

div
{
width:100%;
text-align:center;
margin: 0 auto;
}

div#unofficials, div#officials, div#tops
{
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	background-color: #E4E4E4;
	margin-bottom: 15px;
	-webkit-transition:     height .8s ease;
    -moz-transition:        height .8s ease;
    -o-transition:          height .8s ease;
    -ms-transition:         height .8s ease;
	transition: height .8s ease;
    overflow: hidden;
	width:80%;
	text-align:center;
	/*margin: 0 auto;*/
}

div#nav
{
	background-color:#313131;
	color:#FFF;
	margin: 0 auto;
	width: 100%;
	height: 150px;
}
div#the
{
	background-color: #FFF;
	border: 1px solid #FF7A00;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	width:60%;
	font-size: 20;
}
div#tba
{
	display: inline;
	font-size: 14;
	background-color: #FFBD15;
	height:30px;
	/*padding: 5;*/
}

h1#nav 
{
	margin:0px;
	padding:15px;
	text-align:left;
}

span#collapseView
{
	color:#ECECEC;
}
span#nav
{
	vertical-align:middle;
}

a#nav
{
	background-image: url("mob_navicon.png");
}

select{
	font-size: 24px;
	font-weight: bold;
}
input[type="number"]
{
height: 30px;
font-size: 22;
margin-top: 0;
margin-bottom:5px;
}
input[type="number"]#y_0
{
height: 30px;
font-size: 22;
margin-top:0px;
}
input[type="text"]#tbajson
{
height: 30px;
font-size: 22;
margin-top: 0;
margin-bottom:5px;
width:60%;
}

pre
{
font-size:14;
white-space: pre-line;
text-align:left;
}

footer#nav
{
	background-color:#313131;
	color:#FFF;
	margin: 0 auto;
	width: 100%;
	padding-top: 50;
	padding-bottom:20;
	text-align:center;
}
