html
{
font-family: Helvetica, Calibri, Arial, sans-serif;
font-size:18px;
}

body
{
margin: 0px;
}

table
{
	width: 50%;
	border-collapse:separate;
	margin: 0 auto;
}

th,table:not(.mainpage),table:not(.stats),table:not(.help),table:not(.ind)
{
	border-spacing: 0px 15px;
}
table.ind
{
	border-spacing: 0px 25px;
	display: inline;
	width:0%;
	margin:0 auto;
}

table.filebrowse
{
	width: 90%;
}
table.help
{
	width: 90%;
	border-collapse:separate;
	margin: 0 auto;
	border-spacing: 15px 15px;
	padding-top: 20px;
	font-size: 16px;
}

table.mainpage
{
	border-spacing: 0px 25px;
	width: 100%;
}

table.stats
{
	border-spacing: 15px 15px;
}

table.region
{
	width:75%;
}
table.contact
{
	width:100%;
}
table.contact tr td
{
	text-align:left;
}

th
{
	border-top-color: #FF7A00;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
th.help
{
	border: 1px solid #FF7A00;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding:5px;
}
.regionSort
{
cursor:pointer;
border-top-color: #FF7A00;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.regionSortUp
{
cursor:pointer;
border-top-width: 3px;
border-top-color: #FF7A00;
	border-top-style: solid;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.regionSortDown
{
cursor:pointer;
border-top-color: #FF7A00;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
border-bottom-width: 3px;
}

.regionSortUp:first-child
{
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
	border-top-color: #FF7A00;
	border-top-style: solid;
	border-top-width: 3px;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.regionSortUp:last-child
{
	-moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
	border-top-color: #FF7A00;
	border-top-style: solid;
	border-top-width: 3px;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.regionSortDown:first-child
{
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
	border-top-color: #FF7A00;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

.regionSortDown:last-child
{
	-moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
	border-top-color: #FF7A00;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	
}
	
tr td:first-child{
    /*-moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;*/

}

tr td:last-child{
   /* -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;*/
	padding-right: 5px;
}

tr th:first-child
{
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
	
	border-top-color: #FF7A00;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #FF7A00;
	border-left-style: solid;
	border-left-width: 1px;
}

tr th:last-child
{
	-moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
	
	border-top-color: #FF7A00;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: #FF7A00;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
	border-bottom-width: 1px;

}


td,th
{
	text-align:center;
}

td.stat
{
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-color: #FF7A00;
	border-style: solid;
	border-width: 1px;
	background-color: #FFF;
	border-spacing: 0px 15px;
}

td.val
{
	border-radius: 5px 5px 5px 5px;
	border-spacing: 15px 15px;
}

tr.region
{
	border-radius: 5px 5px 5px 5px;
	border-collapse:separate;
}

tr.region:nth-child(odd), tr.val:nth-child(odd)
{
	background-color: #FF7A00;
}

tr.region:nth-child(even), tr.val:nth-child(even)
{
	background-color: #F73B3B;
}

tr:not(.region),tr:not(.regions),tr:not(.regions_win),tr:not(.off_win),tr:not(.tregions),tr:not(.val)
{
	background-color: #FFF;
	border: 1px solid #FF7A00;
} /*
tr#regions:nth-child(odd):hover
{
	background-color:#1D36F0;
} */
tr.regions:hover
{
	background-color:#FF7A00;
	cursor:pointer;
}
tr.regions{
	background-color:#ACACAC
}

tr.regions_win:hover
{
	background-color:#FF7A00;
	cursor:pointer;
}
tr.regions_win{
	background-color:#17A9FF;
}

tr.off_win:hover
{
	background-color:#FF7A00;
	cursor:pointer;
}
tr.off_win{
	background-color:#1AFF00;
}

tr.tregions:hover
{
	background-color:#FF7A00;
}
tr.tregions{
	background-color:#ACACAC;
}

tr.filez:hover
{
	background-color:#FF7A00;
}
tr.filez{
	background-color:#ACACAC;
}

tr.help:nth-child(even) td
{
	border-color:#F82121;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	padding:5px;
}
tr.help:nth-child(odd) td
{
	border-color:#1D36F0;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	padding:5px;
}
tr.help td:last-child
{
font-family:monospace;
}

tr td.recognize:last-child
{
	border-right-color: #FF7A00;
	border-right-style: solid;
	border-right-width: 1px;
}
tr td.recognize:first-child
{
	border-left-color: #FF7A00;
	border-left-style: solid;
	border-left-width: 1px;
}

tr td.recognize
{
	border-top-color: #FF7A00;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #FF7A00;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding:10px;
}

a:link, a:visited
{
-webkit-border-radius: 5px;
background-color:#CECECE;
text-decoration:none;
color: #000;
margin: 0 auto;

padding: 10px;
}

a:hover, a:active
{
-webkit-border-radius: 5px;
background-color:#000;
text-decoration:none;
margin: 0 auto;
color: #FFF;
}

a.nav:link, a.nav:visited
{
-webkit-transition:border .5s ease;
-moz-transition:border .5s ease;
transition:border .5s ease;
background-color:transparent;
text-decoration:none;
color: #FFF;
margin: 0 auto;
float: left;
height: 65px;
width: 265px;
font-size: 36px;
font-weight: 600;
padding:0;
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
}

a.nav:hover, a.nav:active
{
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
border-bottom:#FF7A00 5px solid;
background-color:transparent;
text-decoration:none;
margin: 0 auto;
color: #FFF;
float: left;
height: 65px;
width: 265px;
font-size: 36px;
font-weight: 600;
padding:0;
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
}
#back.nav_txt:link, #back.nav_txt:visited
{
	background-color:#F5CD00;
}
#back.nav_txt:hover, #back.nav_txt:active
{
	background-color: #EF3802;
}
a.nav_txt:link, a.nav_txt:visited
{

-webkit-transition:border .5s ease;
-moz-transition:border .5s ease;
transition:border .5s ease;
position:relative;
background-color: #FF7A00;
/*background-color: transparent;*/
text-decoration:none;
color: #FFF;
margin: 0 auto;
float: right;
font-size: 16px;
padding:14.5px;
/*height: 41px;*/
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
border-radius:5px;
margin:10;
}

a.nav_txt:hover, a.nav_txt:active
{
background-color: #474747;
/*background-color: #EF3802;
background-color: #FF9F47;*/
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
/*border-bottom:#FF0000 5px solid;*/
text-decoration:none;
margin: 0 auto;
color: #FFF;
float: right;
font-size: 16px;
padding:14.5px;
margin:10;
/*height: 41px;*/

}

a.official:link, a.official:visited
{
background-color:#1a1a1a;
text-decoration:none;
color: #FFF;
margin: 0 auto;
float: left;
font-size: 36px;
font-weight: 600;
padding:10px;
height:40px;
width:40px;
}

a.official:hover, a.official:active
{
background-color:#434343;
text-decoration:none;
margin: 0 auto;
color: #FFF;
float: left;
font-size: 36px;
font-weight: 600;
padding:10px;
height:40px;
width:40px;
}
a.nav_txt
{
	transition: color .5s ease;
	transition: background-color .5s ease;
	-ms-transition: color .5s ease;
	-ms-transition: background-color .5s ease;
	-moz-transition: color .5s ease;
	-moz-transition: background-color .5s ease;
	-webkit-transition: color .5s ease;
	-webkit-transition: background-color .5s ease;
}
a.fade, a.reg, a.adm
{
transition: color .5s ease;
transition: background-color .5s ease;
}
a.reg
{
margin-right: 20px;
margin-left: 20px;
}

a.sub{
	padding: 10px;
	font-size:14px;
	margin-top:5px;
}

a.adm
{
	padding-top:10px;
	margin-left:10px;
	position:absolute;
	-webkit-border-top-right-radius:0;
	-webkit-border-top-left-radius:0;
	-moz-border-topright-radius:0;
	-moz-border-topleft-radius:0;
	border-top-right-radius:0;
	border-top-left-radius:0;
}

a.db:link, a.db:visited
{
-webkit-border-radius: 0px;
background-color:#FF7A00;
text-decoration:none;
color: #FFF;
margin: 0 auto;
padding: 6px;
position:relative;
}
a.db:hover, a.db:active
{
-webkit-border-radius: 0px;
background-color:#FF3D00;
text-decoration:none;
margin: 0 auto;
color: #FFF;
position:relative;
}

a.filer
{
color:#A31313;
background-color: transparent;
padding: 0px;
text-decoration: underline;
font-size:14px;
}

a.standard:link
{
color:#FF7A00;
background-color: transparent;
padding: 0px;
text-decoration: underline;
font-size:14px;
}
a.standard:visited
{
color:#FFCC00;
background-color: transparent;
padding: 0px;
text-decoration: underline;
font-size:14px;
}
a.standard:hover, a.standard:active
{
color:#F14D00;
background-color: transparent;
padding: 0px;
text-decoration: underline;
font-size:14px;
}

a.standard_big:link, a.standard_big:visited
{
color:#FF7A00;
background-color: transparent;
padding: 0px;
text-decoration: underline;
/*font-size:14px;*/
}
a.standard_big:hover, a.standard_big:active
{
color:#F14D00;
background-color: transparent;
padding: 0px;
text-decoration: underline;
/*font-size:14px;*/
}

a.standard_color:link, a.standard_color:visited
{
color:#FF7A00;
background-color: transparent;
padding: 0px;
text-decoration: underline;
font-size:14px;
}
a.standard_color:hover, a.standard_color:active
{
color:#F14D00;
background-color: transparent;
padding: 0px;
text-decoration: underline;
font-size:14px;
}


a.fstd:link,a.fstd:visited
{
color:#757575;
background-color: transparent;
padding: 0px;
text-decoration: underline;
font-size:14px;
}

a.fstd:hover, a.fstd:active
{
color:#949494;
background-color: transparent;
padding: 0px;
text-decoration: underline;
font-size:14px;
}


a.box:link, a.box:visited
{
	padding:100px;
	background-color: #000;
	color: #FFF;
}
a.box:hover, a.box:active
{
	padding:100px;
	background-color: #FF7A00;
	color: #FFF;
}
div.leftbox
{
	float:left;
	margin:20px;
	width:initial;
}
div.rightbox
{
	float:right;
	margin:20px;
	width:initial;
}

div.square
{
	width:300px;
	height:300px;
	background-color: #000;
	color:#FFF;
	text-align:center;
}
span.square
{
	line-height:300px;
}
div.squareText
{
	vertical-align:middle;
	display:inline-block; 
	width:initial;
	margin:0;
	padding:0;
}

ul
{
    list-style-type: none;
	padding:5px;
	margin: 0 auto;
	width:80%;
	text-align:left;
}
li
{
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	background-color: #000;
	list-style-type: none;
}
li.li_official, li.li_unofficial, li.li_top
{
	background-color: #000;
	list-style-type: none;
	width:80%;
	margin: 0 auto;
	height:50px;
	font-size:24px;
}

.slideli
{
	background-color: #000;
	list-style-type: none;
	width:100%;
	margin: 0 auto;
	height:30px;
	font-size:14px;
	text-align:left;
}
.slidebutton
{
	transition: background-color .5s ease;
	background-color: #000;
	color: #FFF;
	height:30;
	width:30px;
	font-size:18px;
	padding-top: 5;
	border: transparent;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
}
.slidebutton:hover
{
	background-color: #313131;
	color: #FFF;
	height:30px;
	width:30px;
	font-size:18px;
	border: transparent;
	padding-top: 5;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
}

.slidediv
{
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	background-color: #E4E4E4;
	margin-bottom: 15px;
	-webkit-transition:     height .8s ease;
    -moz-transition:        height .8s ease;
    -o-transition:          height .8s ease;
    -ms-transition:         height .8s ease;
	transition: height .8s ease;
    overflow: hidden;
	width:100%;
	font-size:14px;
	text-align:center;
	/*margin: 0 auto;*/
}


.slidelis
{
	background-color: #000;
	list-style-type: none;
	width:50%;
	margin: 0 auto;
	height:25px;
	font-size:18px;
	text-align:left;
}
.slidedivs
{
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	background-color: #E4E4E4;
	margin-bottom: 15px;
	-webkit-transition:     height .8s ease;
    -moz-transition:        height .8s ease;
    -o-transition:          height .8s ease;
    -ms-transition:         height .8s ease;
	transition: height .8s ease;
    overflow: hidden;
	width:50%;
	font-size:14px;
	text-align:center;
	/*margin: 0 auto;*/
}

.slidebuttons
{
	transition: background-color .5s ease;
	background-color: #000;
	color: #FFF;
	height:25px;
	width:25px;
	font-size:18px;
	padding-top: 5;
	border: transparent;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
}
.slidebuttons:hover
{
	background-color: #313131;
	color: #FFF;
	height:25px;
	width:25px;
	font-size:18px;
	padding-top: 5;
	border: transparent;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
}

button.official, button.unofficial, button.top
{
	transition: background-color .5s ease;
	background-color: #000;
	color: #FFF;
	height:50px;
	width:50px;
	font-size:28px;
	border: transparent;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
}
button.official:hover, button.unofficial:hover, button.top:hover
{
	background-color: #313131;
	color: #FFF;
	height:50px;
	width:50px;
	font-size:28px;
	border: transparent;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
}


button:focus
{
	outline: 0;
}

div
{
width:100%;
text-align:center;
margin: 0 auto;
}

div.unofficials, div.officials, div.tops
{
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	background-color: #F4F4F4;
	margin-bottom: 15px;
	-webkit-transition:     height .8s ease;
    -moz-transition:        height .8s ease;
    -o-transition:          height .8s ease;
    -ms-transition:         height .8s ease;
	transition: height .8s ease;
    overflow: hidden;
	width:80%;
	font-size:18px;
	text-align:center;
	/*margin: 0 auto;*/
}


div.nav
{
	background-color:#313131;
	color:#FFF;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	width: 100%;
	height: 70px;
	position: fixed;
}
div.the
{
	background-color: #FFF;
	border: 1px solid #FF7A00;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	width:60%;
	font-size: 20px;
}
div.tba
{
	display: inline;
	font-size: 14px;
	background-color: #FFBD15;
	height:30px;
	/*padding: 5;*/
}
#results {
	width:100%;
	position: absolute;
	/*border: 1px solid #c0c0c0;*/
	background-color:#313131;
}

#results .item {
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Helvetica;
	/*border-bottom: 1px solid #c0c0c0;*/
}

#results .item:last-child {
	border-bottom: 0px;
}

#results .hover, .item:hover {
	background-color: #FF7A00;
	cursor: pointer;
}	
/*
#results .hover {
	background-color: #FF7A00;
	cursor: pointer;
}	*/
a.invisible{
	background-color:transparent;
	padding:0;
	margin:0;
	text-decoration:none;
	color:inherit;
}
a.searchresult
{
	color:#FF5400;
	text-decoration:underline;
	font-size:20px;
	background-color:transparent;
	font-weight:bold;
}

h1.nav 
{
	margin:0px;
	padding:15px;
	text-align:left;
}

span#collapseView
{
	color:#ECECEC;
	height:30px;
	max-height:200em;
	font-size:24px;
}
span.nav
{
	vertical-align:middle;
}

a.nav
{
	background-image: url("navicon.png");
}

span.search{
	position: relative;
    float: right;
    padding-top: 10px;
   /* padding-right: 10px;*/
}
input.search{
    height: 50px;
	width:235px;
	padding:10px;
	outline: none;
	border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
	color:#CCC;
	font: 16px Arial, Helvetica, sans-serif;
}
button.search_button{
	display:inline;
	float:right;
	height:50px;
	width:50px;
	margin-top:10px;
	border:none;
	border-radius:25px;
	text-align:center;
	background-color:#FF7A00;
}
button.search_button:hover{

	background-color:#FFA552;
	cursor:pointer;
}
div#search_bar{
	transition: width .8s ease;
	overflow: hidden;
	display:inline;
	position:relative
}

select{
	font-size: 24px;
	font-weight: bold;
}
input[type="number"]
{
height: 30px;
font-size: 22px;
margin-top: 0px;
margin-bottom:5px;
}
.short_input
{
height: 30px;
font-size: 22px;
margin-top: 0px;
margin-bottom:5px;
width:100px;
}
input[type="number"]#y_0
{
height: 30px;
font-size: 22px;
margin-top:0px;
}
input[type="text"]#tbajson
{
height: 30px;
font-size: 22px;
margin-top: 0px;
margin-bottom:5px;
width:60%;
}
input[type="submit"]#sub{
	padding: 10px;
	font-size:14px;
	margin-top:5px;
	-webkit-border-radius: 5px;
background-color:#CECECE;
text-decoration:none;
color: #000;
border:0;
}
input[type="submit"]#sub:hover, input[type="submit"]#sub:active{
	padding: 10px;
	font-size:14px;
	margin-top:5px;
	-webkit-border-radius: 5px;
background-color:#000;
text-decoration:none;
color: #FFF;
border:0;

}
textarea
{
 max-width:490px;
 font-family: Helvetica, Calibri, Arial, sans-serif;
}
pre
{
font-size:14px;
white-space: pre-line;
text-align:left;
}

footer.nav
{
	background-color:#313131;
	color:#FFF;
	margin: 0 auto;
	height:20px;
	width: 100%;
	padding-top: 50px;
	padding-bottom:20px;
	text-align:center;
}

div#container
{
min-height:100%;
margin-bottom:90px;
}

.clearer {
    clear: both;
}