@font-face {
    font-family: ESPN;
    src: url(espn.ttf);
}

html
{
font-family: Helvetica, Calibri, Arial, sans-serif;
font-size:18px;
}

body
{
margin: 0px;
}

table
{
	width: 50%;
	border-collapse:separate;
	margin: 0 auto;
}

table.mainpage
{
	border-spacing: 0px 25px;
	width: 100%;
}
th
{
font-size:12px;
color:#FFF;
}
tr td:first-child{
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;

}

tr td:last-child{
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
	padding-right: 5px;
}
tr
{
	background-color:#ACACAC
	border-collapse:separate;
}

a:link, a:visited
{
-webkit-border-radius: 5px;
background-color:#CECECE;
text-decoration:none;
color: #000;
margin: 0 auto;

padding: 10px;
}

a:hover, a:active
{
-webkit-border-radius: 5px;
background-color:#000;
text-decoration:none;
margin: 0 auto;
color: #FFF;
}

a.nav:link, a.nav:visited
{
-webkit-transition:border .5s ease;
-moz-transition:border .5s ease;
transition:border .5s ease;
background-color:transparent;
text-decoration:none;
color: #FFF;
margin: 0 auto;
float: left;
height: 65px;
width: 303px;
font-size: 36px;
font-weight: 600;
padding:0;
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
}

a.nav:hover, a.nav:active
{
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
border-bottom:#FF7A00 5px solid;
background-color:transparent;
text-decoration:none;
margin: 0 auto;
color: #FFF;
float: left;
height: 65px;
width: 303px;
font-size: 36px;
font-weight: 600;
padding:0;
-webkit-border-radius:0px;
-moz-border-radius:0px;
border-radius:0px;
}

a.nav
{
	background-image: url("navicon.png");
}
a.fade
{
transition: color .5s ease;
transition: background-color .5s ease;
}

div
{
width:100%;
text-align:center;
margin: 0 auto;
}
div.nav
{
	background-color:#313131;
	color:#FFF;
	margin: 0 auto;
	width: 100%;
	height: 70px;
}
.nav_txt
{

position:relative;
background-color: #FF7A00;
text-decoration:none;
color: #FFF;
margin: 0 auto;
float: right;
font-size: 26px;
padding:14.5px;
height: 41px;
width:15%;
-webkit-border-radius:0px;
-moz-border-radius:0px;
-ms-border-radius:0px;
border-radius:0px;
}

.red
{
background-color:#F42828;
color:#FFF;
padding:5px;
width:15%;
display: inline;
}
.blue
{
background-color:#2D2DD7;
color:#FFF;
padding:5px;
width:15%;
display: inline;
}
.match
{
background-color:#FFF;
width:5%;
padding:5px;
display: inline;
}

.pgreen
{
background-color:#AFA;
width:5%;
padding:5px;
display: inline;
}
.winners
{
background-color:#AFA;
width:15%;
padding:5px;
display: inline;
}
.winner
{
background-color:#AFA;
width:5%;
padding:5px;
display: inline;
}
.loser
{
background-color:#1F1;
width:5%;
padding:5px;
display: inline;
}

.qtick
{
width:680px;
left:180px;
}
.etick
{
width:680px;
left:180px;
}
.stick
{
width:680px;
left:180px;
}
.orange
{
color:#FF4800;
margin:0;
}
.half
{
width:50%;
margin:0;
}
table.tbl_onblack
{
color:#000;
text-align:center;
border-spacing: 0px 10px;
}
h2
{
color:#FFF;
font-family:ESPN;
}

ul
{
display:inline;
white-space:nowrap;
}

li
{
display:inline;
}

footer
{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	display:inline;
	background-color:#313131;
	text-align:right;
	margin: 0 auto;
	height:60px;
	width: 100%;
/*	padding-top: 10px;
	padding-bottom:9px;*/
}
div#container
{
min-height:100%;
margin-bottom:90px;
}
.stats
{
color:#FFF;
text-align:center;
font-size:12px;
padding:2px;
background-color:#FF4800;
}
table.stats
{
width:100%;
}
tr.regions:hover
{
color:#000;
	background-color:#FF7A00;
	cursor:pointer;
}
tr.regions{
color:#000;
	background-color:#A8A8A8;
}
#webTicker
{
	display:inline;
/*	padding-top: 10px;
	padding-bottom:9px;
	height:20px;
	*/
	width:800px;
	left:180px;
	margin:0;
	position:absolute;
}
table#ticker
{
	width:100%;
	text-align:center;
	border-spacing: 0px 5px;
}

.lefthalf
{
	color:#fff;
	/*border: 1px solid red;*/
	width:49%;
	margin:0;
	height:70%;
	float:left;
}
.righthalf
{
	color:#fff;
	/*border: 1px solid red;*/
	width:49%;
	margin:0;
	height:70%;
	float:right;
}
.innerdiv
{
	border: 1px solid rgb(255, 72, 0);
	border-radius:10px;
	background-color:rgb(255, 72, 0);
	width:90%;
	height:85%;
	color:#fff;
}

a.subtle_link
{
	background-color:transparent;
	padding:0;
	text-decoration:underline;
	color:#fff;
}

a.bottom-link
{
	background-color:#FF4800;
	padding:10px;
	border-radius:0px;
	color:#fff;
	text-decoration:none;
}
a.bottom-link:hover
{
	background-color:#F80;
	padding:10px;
	border-radius:0px;
	color:#fff;
	text-decoration:none;
}

.standings:not(th)
{
	color:#fff;
	height:80%;
	width:85%;
	font-size:16px;
	text-align:center;
}
th.standings{
	font-size:16px;
}

.opr
{
	color:#fff;
	text-align:center;
	border:1px solid white;
	border-radius:10px;
}
