@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined");




/* Color variables - light mode*/
@media (prefers-color-scheme: light) {
  :root {
    /* COLORS */
    /* Primary/Secondary */
    --bbq-primary-color: tomato;
    --bbq-accent-color: #646464;

    /* Header */
    --bbq-header-color: #313131;
    --bbq-header-hover-color: #404040;

    /* Component colors */
    --bbq-background-color: #ffffff;
    --bbq-foreground-component-color: #eee;
    --bbq-secondary-foreground-component-color: #f8f8f8;
    --bbq-secondary-foreground-component-link-hover-color: #d1d1d1;

    /* Primary text color */
    --bbq-primary-text-color: #313131;
  }
}

/* Color variables - dark mode*/
@media (prefers-color-scheme: dark) {
  :root {
    /* COLORS */
    /* Primary/Secondary */
    --bbq-primary-color: tomato;
    --bbq-accent-color: #efefef;

    /* Header */
    --bbq-header-color: #313131;
    --bbq-header-hover-color: #404040;

    /* Component Colors */
    --bbq-background-color: #161616;
    --bbq-foreground-component-color: #2c2c2c;
    --bbq-secondary-foreground-component-color: #424242;
    --bbq-secondary-foreground-component-link-hover-color: #515151;


    /* Primary text color */
    --bbq-primary-text-color: tomato;
  }
}


:root {
  /* TYPEFACES */
  --md-ref-typeface-brand: 'Open Sans';
  --md-ref-typeface-plain: system-ui;

  /* DIMENSIONS */
  /* Outlined text field dimensions */
  --md-outlined-text-field-container-shape: 0px;
  --md-sys-typescale-body-large: 400 1rem system-ui;

  /* FAB dimensions */
  /* --md-fab-container-shape: 0px; */
  --md-fab-icon-size: 28px;

  /* THEME COLORS */
  --md-sys-color-primary: var(--bbq-primary-color);
  --md-sys-color-secondary: var(--bbq-accent-color);
  --md-sys-color-surface-container-high: var(--bbq-background-color);
  --md-sys-color-on-surface: var(--bbq-primary-text-color);
  --md-sys-color-surface: var(--bbq-foreground-component-color);
  --md-sys-color-on-surface-variant: var(--bbq-accent-color);

  /* Outlined text field colors */
  --md-outlined-text-field-label-text-color: var(--bbq-primary-text-color);
  --md-outlined-text-field-input-text-color: var(--bbq-primary-text-color);

  /* List colors */
  --md-list-container-color: var(--bbq-background-color);

  /* Tabs colors */
  /* --md-primary-tab-label-text-color: var(--bbq-accent-color); */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--bbq-primary-text-color);
  background: var(--bbq-background-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  text-decoration: underline;
  color: var(--bbq-primary-text-color);
}


div {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}



div.main-content {
  display: grid;
  margin-top: 70px;
  padding: 2rem;
  max-height: 100%;
  overflow: auto;
}