@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined");




/* Color variables - light mode is default*/
:root {
  /* COLORS */
  /* Primary/Secondary */
  --bbq-primary-color: tomato;
  --bbq-accent-color: #646464;

  /* Header */
  --bbq-header-color: #313131;
  --bbq-header-hover-color: #404040;

  /* Component colors */
  --bbq-background-color: #ffffff;
  --bbq-foreground-component-color: #eee;
  --bbq-secondary-foreground-component-color: #f8f8f8;
  --bbq-secondary-foreground-component-link-hover-color: #d1d1d1;

  /* Primary text color */
  --bbq-primary-text-color: #313131;
  --bbq-secondary-text-color: var(--bbq-primary-text-color);

  /* Primary text color */
  --bbq-primary-text-color: #313131;
  --bbq-secondary-text-color: var(--bbq-primary-text-color);

  /* Component colors in the nav bar */
  --bbq-nav-foreground-component-color: var(--bbq-foreground-component-color);
  --bbq-nav-component-text-color: var(--bbq-primary-text-color);

  /* Border colors */
  --bbq-border-color: transparent;
}


:root {
  /* TYPEFACES */
  --md-ref-typeface-brand: 'Open Sans';
  --md-ref-typeface-plain: system-ui;

  /* DIMENSIONS */
  /* Outlined text field dimensions */
  --md-outlined-text-field-container-shape: 0px;
  --md-sys-typescale-body-large: 400 1rem system-ui;

  /* FAB dimensions */
  /* --md-fab-container-shape: 0px; */
  --md-fab-icon-size: 28px;

  /* THEME COLORS */
  --md-sys-color-primary: var(--bbq-primary-color);
  --md-sys-color-secondary: var(--bbq-accent-color);
  --md-sys-color-surface-container-high: var(--bbq-background-color);
  --md-sys-color-on-surface: var(--bbq-primary-text-color);
  --md-sys-color-surface: var(--bbq-foreground-component-color);
  --md-sys-color-on-surface-variant: var(--bbq-accent-color);
  --md-sys-color-secondary-container: var(--bbq-foreground-component-color);
  --md-sys-color-surface-container: var(--bbq-secondary-foreground-component-color);
  --md-sys-color-outline-variant: var(--bbq-foreground-component-color);

  /* Outlined text field colors */
  --md-outlined-text-field-label-text-color: var(--bbq-primary-text-color);
  --md-outlined-text-field-input-text-color: var(--bbq-primary-text-color);

  /* Menu item colors */
  --md-menu-item-label-text-color: var(--bbq-secondary-text-color);
  --md-menu-item-selected-label-text-color: var(--bbq-primary-color);

  /* List colors */
  --md-list-container-color: var(--bbq-background-color);

  /* Divider */
  --md-divider-thickness: 2px;

  /* Tabs colors */
  /* --md-primary-tab-label-text-color: var(--bbq-accent-color); */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--bbq-primary-text-color);
  background: var(--bbq-background-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: underline;
  color: var(--bbq-primary-text-color);
}


div {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

table {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}


div.main-content {
  display: grid;
  margin-top: 70px;
  padding: 2rem;
  max-height: 100%;
  overflow: auto;
  flex: 1 1 auto;
}

md-divider {
  flex: none;
  margin: 10px;
}

input {
  /* border-color: none; */
  height: 50px;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--bbq-border-color);
  color: var(--bbq-nav-component-text-color);
  background-color: var(--bbq-nav-foreground-component-color);
}

input:focus,
input:focus-visible {
  border-color: var(--bbq-primary-color);
  border-width: 2px;
  outline: none;
}